@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url(./_respinsive.scss);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Exo 2";
}

.contianer {
  width: 1440px;
  margin: auto;
}
.contianer main {
  width: 100%;
  padding: 100px;
}
.contianer main .section-1 {
  width: 100%;
  display: flex;
  align-items: center;
}
.contianer main .section-1 .section1_left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contianer main .section-1 .section1_left h1 {
  font-size: 52px;
  font-weight: 600;
  line-height: 65px;
  color: #363738;
}
.contianer main .section-1 .section1_left p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6B6B6C;
  margin: 40px 0 40px 0;
  max-width: 525px;
  text-align: start;
}
.contianer main .section-1 .section1_left a {
  text-decoration: none;
  color: #363738;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.contianer main .section-1 .section1_left a:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 3px;
  background-color: #FFCE50;
}
.contianer main .section-1 .section1_right {
  width: 50%;
}
.contianer main .section-1 .section1_right img {
  width: auto;
  height: auto;
}
.contianer main .section-1 .section1_right .img-768px,
.contianer main .section-1 .section1_right .img-375px,
.contianer main .section-1 .section1_right .block_375px {
  display: none;
}
.contianer main .section-2 {
  width: 100%;
  height: auto;
}
.contianer main .section-2 .section2-cards {
  max-width: 1240px;
  width: 100%;
  height: 341px;
  box-shadow: 0px 0px 10px 1px rgba(34, 60, 80, 0.6);
  display: flex;
  border-radius: 20px;
  margin: 67px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contianer main .section-2 .section2-cards .section2-card {
  width: 228px;
  height: 245px;
}
.contianer main .section-2 .section2-cards .section2-card h3 {
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin: 24px 0 16px 0;
}
.contianer main .section-2 .section2-cards .section2-card p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.contianer main .section-3 {
  max-width: 1240px;
  height: 453px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contianer main .section-3 .track {
  width: 100%;
  height: 100%;
  background-image: url(../img/Rectangle\ 7.png);
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.contianer main .section-3 .track .intrack {
  width: 769px;
  height: 100%;
  background-image: url(../img/Rectangle\ 8\ \(3\).png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 90px;
}
.contianer main .section-3 .track .intrack h1 {
  font-family: Exo 2;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  max-width: 352px;
  color: #fff;
}
.contianer main .section-4 {
  margin-top: 70px;
}
.contianer main .section-4 .section-3responsive {
  display: none;
}
.contianer main .section-4 .section-4_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 62px;
}
.contianer main .section-4 .section-4_cards .section-4_card {
  width: 447px;
  height: 80px;
  display: flex;
  gap: 40px;
  align-items: center;
}
.contianer main .section-4 .section-4_cards .section-4_card h3 {
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  color: #363738;
}
.contianer main .section-4 .section-4_cards .section-4_card p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6B6B6C;
}
.contianer main .section-5 {
  max-width: 1239px;
  margin-top: 120px;
}
.contianer main .section-5 .s5_h1 {
  font-family: Exo 2;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: #363738;
}
.contianer main .section-5 .s5_p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 465px;
  color: #6B6B6C;
  margin: 32px 0 56px;
}
.contianer main .section-5 .section5-cads {
  display: flex;
  justify-content: space-between;
}
.contianer main .section-5 .section5-cads .section5-card {
  width: 393px;
  height: 439px;
  box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
}
.contianer main .section-5 .section5-cads .section5-card .block_768px {
  display: none;
}
.contianer main .section-5 .section5-cads .section5-card .section5-card-text {
  padding: 14px 32px;
}
.contianer main .section-5 .section5-cads .section5-card .section5-card-text h3 {
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  color: #363738;
}
.contianer main .section-5 .section5-cads .section5-card .section5-card-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6B6B6C;
  max-width: 350px;
  margin: 16px 0 32px;
}
.contianer main .section-5 .section5-cads .section5-card .section5-card-text b {
  font-family: Exo 2;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  position: relative;
  cursor: pointer;
}
.contianer main .section-5 .section5-cads .section5-card .section5-card-text b:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #FFCE50;
}/*# sourceMappingURL=style.css.map */